<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
		<bean id="std" class="beans.Student1">
		<constructor-arg name="regno" value="10009"></constructor-arg>
			<constructor-arg name="stdname" value="nexwave"></constructor-arg>
			<property name="regno" value="345"></property>
			
		<property name="address" value="addr"></property><!-- manual wiring -->
			</bean>
			<bean id="addr" class="beans.Address">
			<property name="street" value="HI-Tech City"></property>
			<property name="city" value="Hyderabad"></property>
			</bean>
</beans>
